@media (max-width: 600px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .top__block {
        height: 735px;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-position: center;
        &__title {
            padding-top: 238px;
            text-align: center;
            font-size: 32px;
        }
        &__text {
            font-size: 14px;
            text-align: center;
            line-height: 22px;
            margin-bottom: 32px;
        }
    }

    .footer {
        height: 1221px;
        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    
}